<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/pdroh/Documents/Java Intellij/PetStoreAPIFramework">
        <classes>
            <class name="api.test.TC_103"/>
<!--            <class name="api.test.TC_102"/>-->
        </classes>
    </test>
</suite>